@model MedBook.Models.Doctor

<h4>New Doctor Created</h4>
<p>First name : @Model.FName</p>
<p>Last name : @Model.LName</p>
<p>Confirmation link was send to registration Email. Please, check and confirm.</p>
