@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MedBook.Models.ViewModels.DoctorRegModel

<h4>Doctor registration form :</h4>
<div>
    <form asp-controller="Registration" asp-action="DoctorRegistration">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="FName"></label><br />
            <input asp-for="FName" type="text"/>
            <span asp-validation-for="FName"></span>
        </div>
        <div>
            <label asp-for="LName"></label><br />
            <input asp-for="LName" type="text"/>
            <span asp-validation-for="LName"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" type="email"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" type="password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" type="password"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div><br />
        <div>
            <input type="submit" value="Register"/>
        </div>
        
    </form>
</div>
