
@model MedBook.Models.ViewModels.LoginModel


@ViewBag.ErrorMessage
<br />
<form asp-controller="Registration" asp-action="Login">
    <div class="col-xl-3">
        <h4>Вход в MedBook</h4>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="col-xl-3">
        <label asp-for="Email" class="col-form-label"></label><br />
        <input asp-for="Email" type="email" class="form-control" required/>
        <span asp-validation-for="Email"></span>
    </div><br />
    <div class="col-xl-3">
        <label asp-for="Password" class="col-form-label"></label><br />
        <input asp-for="Password" type="password" class="form-control" required/>
        <span asp-validation-for="Password"></span>

    </div><br />
    <div class="col-xl-1">
        <input type="submit" value="Вход" class="btn btn-secondary"/>
    </div>
</form>
<br />
<a asp-action="ForgetPassword">Забыли пароль ?</a>
