@{
}

@model MedBook.Models.ViewModels.PatientRegModel

<h4>Регистрация нового пациента</h4>
<form asp-controller="Registration" asp-action="PatientRegistration">
<div asp-validation-summary="All"></div>
    <div class="col-xl-3">
        <label asp-for="FName" class="col-form-label"></label><br />
        <input asp-for="FName" type="text" class="form-control" required/>
        <span asp-validation-for="FName"></span>
    </div>
    <div class="col-xl-3">
        <label asp-for="LName" class="col-form-label"></label><br />
        <input asp-for="LName" type="text" class="form-control" required/>
        <span asp-validation-for="LName"></span>
    </div>
    <div class="col-xl-3">
        <label asp-for="DateOfBirth" class="col-form-label"></label><br />
        <input asp-for="DateOfBirth" type="date" class="form-control" required/>
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="col-xl-3">
        <label asp-for="Email" class="col-form-label"></label><br />
        <input asp-for="Email" type="email" class="form-control" required/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-xl-3">
        <label asp-for="Password" class="col-form-label"></label><br />
        <input asp-for="Password" type="password" class="form-control" required/>
        <span asp-validation-for="Password"></span>
    </div>
        <div class="col-xl-3">
        <label asp-for="PasswordConfirm" class="col-form-label"></label><br />
        <input asp-for="PasswordConfirm" type="password" class="form-control" required/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="col-xl-3">
        <label asp-for="Gender" class="col-form-label"></label><br />
        <select asp-for="Gender" id="gender" name="gender" class="form-control">
            <option value="male" selected="selected">Мужчина</option>
            <option value="female">Женщина</option>
        </select>
    </div><br />
    <div class="col-xl-3">
        <input type="submit" value="Регистрация" class="btn btn-secondary"/>
    </div>
</form>
