@using MedBook.Models.ViewModels


@model DoctorVM

<h4>Doctor editing form</h4>
<form asp-controller="Doctor" asp-action="Edit" method="post">

    <p>Doctor ID : @Model.Id</p>
    <table>
        <tbody>
            <tr>
                <td class="text-label">Имя </td>
                <td><input id="userFName" asp-for="FName" placeholder="@Model.FName" class="form-control" /></td>
            </tr>
            <tr>
                <td class="text-label">Фамилия </td>
                <td><input id="userLName" asp-for="LName" placeholder="@Model.LName" class="form-control" /></td>
            </tr>
            <tr>
                <td class="text-label">Блокировка </td>
                <td>
                    <select id="isBlockSelector" class="form-control" onchange="GetUserBlockStatus()">
                        @if (Model.IsBlock)
                        {
                            <option selected value="true">Блокирован</option>
                            <option value="false">Разблокирован</option>
                        }
                        else
                        {
                            <option value="true">Блокирован</option>
                            <option selected value="false">Разблокирован</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Редактировать" class="btn btn-secondary mr-1" /><input type="button" class="btn btn-secondary" value="Назад" onclick="window.location.href='@Url.Action("ShowAll", "Doctor")'" /></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" asp-for="IsBlock" id="isBlock"/>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Смена блокировки пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p id="userInfo"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>