@using MedBook.Models.ViewModels



@model List<IndicatorVM>

<div>
@foreach(var ind in Model)
    {
        <label><a asp-controller="Indicator" asp-action="Edit" asp-route-id="@ind.Id">@ind.Name</a></label><br />
    }
        
</div>
