body {
}

table
.text-content {
    text-align: left;
}
.text-content-warning {
    text-align: left;
    background-color: aquamarine;
}

.reference-content{
    text-align:center;
}

.reference-header{
    text-align:center;
    width:120px;
}

.digit-content{
    text-align:center;
    font-weight:normal;
    color:#000000;
}

.digit-content-warning{
    text-align:center;
    font-weight:bold;
    color:#ff0000;
}

.unit-content{
    text-align:left;
}

.editors-content{
    text-align:center;
}

.text-header{
    width:150px;
    text-align:center;
}

.text-header-normal{
    width:130px;
    text-align:center;
}

.text-header-narrow{
    width:70px;
    text-align:center;
}

.text-header-med{
    width: 130px;
    text-align: center;
}

.text-header-wide {
    width: 260px;
    text-align: center;
}

.unit-header{
    width:100px;
    text-align:center;
}

.digit-header {
    width: 40px;
    text-align:center;
}

.editors-header {
    width: 90px;
    text-align:center;
}

.text-label{
    width:fit-content;
    text-align:right;
}

.text-label-edit{
    width:100px;
    text-align:right;
}

.text-content-edit{
    width:100px;
    text-align:left;
}

label
.label-header{
    font-size:20px;
    font-weight:bold;
    text-align:justify;
    width:fit-content;
}

button
.save-cancel{
    padding-left:6px;
    padding-right:6px;
    margin-left:6px;
    margin-right:6px;

}

input
.search-text{
    margin-bottom:6px;
}

div
.indicator-item{
    width:fit-content;
}
