
@using MedBook.Models.ViewModels

@model IEnumerable<VisitVM>

<div style="display: flex;">
    <div style="margin-right: 10px;">
        <div id="nav"></div>
    </div>
    <div style="flex-grow: 1;">
        <div id="dp"></div><br />
        <div>
            <input type="button" value="Добавить" onclick="window.location.href = '@Url.Action("AddNewEvent", "Visit")'" />
        </div>
    </div>
</div>

<script type="text/javascript" src="~/lib/daypilot/daypilot-all.min.js" asp-append-version="true"></script>

<script>

    const nav = new DayPilot.Navigator("nav", {
        showMonths: 3,
        skipMonths: 3,
        selectMode: "Week",
        onTimeRangeSelected: args => {
            dp.update({
                startDate: args.day
            });
            dp.events.load("/Visit/GetVisits?start=' + ${args.start} + '&end=' + ${args.end}",
                function success(args) {
                    dp.message("Events loaded" + dp.events.list);
                },
                function error(args) {
                    dp.message("Loading failed.");
                });
        }
    });
    nav.init();

    const dp = new DayPilot.Calendar("dp", {
        viewType: "Week",
        scrollToHour: 10
    });
    dp.init();
    dp.events.load('/Visit/GetVisits',
        function success(args) {
            dp.message("Events loaded");
            dp.update();
            console.log('E = ' + dp.events.list);
        },
        function error(args) {
            dp.message("Loading failed.");
        });
    dp.events.list =
    [
        {
        start:"2022-02-16T14:00:00", 
        end:"2021-02-16T16:00:00", 
        id: 1, 
        text: "Meeting"
        }
    ];
    console.log('Events = ' + dp.events.list);
    dp.update();

</script>

