<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-light p-2 text-dark">
            <div class="container-fluid justify-content-md-start">
                <div class="row row-cols-auto">
                    <div class="col"></div>
                    <div class="col">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                            <img src="/pic/Med Book2.png" alt="logo" class="d-inline-block align-text-top" />
                        </a>
                    </div>
                    <div class="col-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Registration" asp-action="DoctorRegistration">Добавить доктора</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Registration" asp-action="PatientRegistration">Добавить пациента</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Patient" asp-action="ShowAll">Все пациенты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Doctor" asp-action="ShowAll">Все доктора</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Indicator" asp-action="Index">Показатели</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Indicator" asp-action="AddNewBearing">Опорные показатели</a>
                                        </li>
                                    }
                                    if (User.IsInRole("Doctor"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Registration" asp-action="PatientRegistration">Добавить нового пациента</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Patient" asp-action="ShowMyPatients">Мои пациенты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Indicator" asp-action="Index">Показатели</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Indicator" asp-action="AddNewBearing">Базовые показатели</a>
                                        </li>

                                    }
                                }


                            }
                            @{
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Registration" asp-action="Login">Войти</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark font-weight-normal" asp-area="" asp-controller="Registration" asp-action="PatientRegistration">Регистрация</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Registration" asp-action="Logout">Выйти</a>
                                    </li>

                                }
                            }

                            <li class="nav-item">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <p class="nav-link text-dark font-weight-bold">Name : @User.Identity.Name</p>
                                    }
                                }

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-light footer text-muted">
        <div class="container">
            &copy; 2021 - MedBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
