@using MedBook.Models.ViewModels



@model IndicatorVM
<div class="indicator-item">
    <label name="indName">@Model.Name</label>
    <input type="number" name="indValue" />
    <label name="indUnit">@Model.Unit</label><br />
</div>

