@model MedBook.Models.ViewModels.ResearchVM

<h4>Создание нового исследования</h4>

    @{
        Model.ResearchDate = DateTime.Now.Date;
    }
<form asp-controller="Patient" asp-action="ManualUpload" method="post">
    <table>
        <tbody>
            <tr>
                <td class="text-label-head">Дата </td>
                <td><input type="date" class="form-control" asp-for="ResearchDate" required placeholder="@Model.ResearchDate"/></td>
            </tr>
            <tr>
                <td class="text-label-head">Лаборатория </td>
                <td><input type="text" class="form-control" asp-for="Laboratory" required/></td>
            </tr>
            <tr>
                <td class="text-label-head">Комментарий </td>
                <td><input type="text" class="form-control" asp-for="Comment" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-secondary" value="Создать исследование" /></td>
            </tr>
        </tbody>
    </table>
    <input asp-for="Id" value="@Model.Id" hidden />
    <input asp-for="PatientId" value="@Model.PatientId" hidden />
    <input asp-for="Items" value="@Model.Items" hidden />
</form>
