
<form asp-controller="Patient" asp-action="ManualUploadItems">
    <label>Количество записей : </label>
    <input type="number" name="itemNumber" class="form-control"/>
    <input type="hidden" value="@ViewBag.PatientId" name="id" class="form-control" />
    <input type="submit" value="Ввод" class="btn btn-secondary"/>
</form>

