
<script src="~/lib/jquery/dist/jquery.min.js"></script>



@model MedBook.Models.ViewModels.ResearchVM

<h4 class="reference-content">Ввод данных исследования</h4>

<form asp-controller="Patient" asp-action="FindIndicator" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#indicatorSearchList">
    <div>
        <table>
            <tr>
                <td class="text-label-head">Найти показатель </td>
                <td><input type="text" name="indicatorName" class="form-control" required /></td>
            </tr>
            <tr>
                <td class="text-label-head"></td>
                <td><input type="submit" value="Найти" class="btn btn-secondary" onclick="showIndicatorList()" /></td>
            </tr>
        </table><br />
    </div>
</form>

<div>
    <div id="indicatorSearchList"></div>
    <hr hidden id="manualIndicatorHR" />
</div>

<hr hidden id="manualResearchHR" />
<div id="manualResearchContainer"></div>

<!-- Модальное окно с вводом параметров вручную -->
<div class="modal fade" id="manualIndicatorValueAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ввод данных</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Patient" asp-action="AddIndicatorToManualResearch" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#manualResearchContainer">
                    <div id="manualIndicatorVariants">
                        <h4 id="manualIndicatorLabel" hidden>Значение</h4>
                        <table id="manualIndicatorTable" hidden class="table">
                            <tbody>
                                <tr>
                                    <td>Наименование </td>
                                    <td><input class="form-control" readonly id="manualIndicatorName" name="manualIndicatorName" required /></td>
                                </tr>
                                <tr>
                                    <td>Значение </td>
                                    <td id="manualIndicatorValueContainer"></td>
                                </tr>
                                <tr>
                                    <td>Ед. изм. </td>
                                    <td><input id="manualIndicatorUnit" readonly class="form-control" name="manualIndicatorUnit" required /></td>
                                </tr>
                                <tr>
                                    <td>MAX ref</td>
                                    <td><input class="form-control" readonly id="manualIndicatorMAX" name="manualIndicatorMAX" /></td>
                                </tr>
                                <tr>
                                    <td>MIN ref</td>
                                    <td><input class="form-control" readonly id="manualIndicatorMIN" name="manualIndicatorMIN" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <input name="researchId" value="@Model.Id" hidden />
                        <input id="indicatorId" name="indicatorId" hidden />
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Добавить" class="btn btn-primary mr-1" id="addIndicatorBtn" onclick="hidePartialViews()" />
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>