@{
}

@model MedBook.Models.ViewModels.UploadFileVM

<h4>Research upload</h4>

@ViewBag.ErrorMessage
@ViewBag.InfoMessage
<form method="post" enctype="multipart/form-data" asp-controller="Patient" asp-action="ResearchUpload">
<div class="form-group">
    <div class="col-md-10">
        <label asp-for="Name"></label><br />
        <input type="text" asp-for="Name" />
    </div>
    <div class="col-md-10">
        <label asp-for="File"></label><br />
        <input asp-for="File" type="file" name="file"/>
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="submit" value="Save" />
    </div>
</div>
</form>