
@model MedBook.Models.Patient

<h4>Данные пациента</h4>
<form>
    <div>
        <label>Фамилия</label>
        <p>@Model.LName</p><br />
        <label>Имя</label>
        <p>@Model.FName</p>
        <label>Возраст</label>
        <p>@Model.Age</p>
    </div>

</form>
