@model IndicatorStatisticsVM[]
@using MedBook.Models.ViewModels

    


<h4>Статистика показателя - @ViewBag.IndicatorName</h4>
<div id="chart" style="width:900px; height:500px"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart()
    {
        let indArray = [];
        indArray.push([{label: 'Date', type: 'date'}, {label: 'Value', type: 'number'}]);
        @foreach(var ind in Model)
        {
            @:indArray.push([{new Date(@ind.ResearchDate.ToString("yyyy-MM-dd"))}, {@ind.Value]})
        };
        let data = google.visualization.arrayToDataTable(indArray, false);
        let options =
        {
            chart:
            {
              title: 'Box Office Earnings in First Two Weeks of Opening',
            },
            width: 900,
            height: 500,
        };
        console.log('start chart creating');
        let chart = new google.charts.Line(document.getElementById('chart'));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }

</script>
<div id="chart" style="width:900px; height:500px"></div>