@using MedBook.Models.ViewModels

@*Research find indicator*@

@model List<IndicatorVM>

<div>
@foreach(var ind in Model)
    {
        <label><a asp-controller="Research" asp-action="ShowIndicatorParams" asp-route-id="@ind.Id">@ind.Name, @ind.Unit</a></label><br />
    }
        
</div>