@using MedBook.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src= "~/lib/jquery/dist/jquery.js"></script>
<script src ="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

@model ResearchVM

<h4>Добавить исследование</h4>
<form asp-controller="Patient" asp-action="ManualEnter" method="post">
<label>Пациент : @ViewBag.Patient.FName @ViewBag.Patient.LName</label><br />
    <table border="0">
        <tbody>
            <tr>
                <td class="text-content">Лаборатория : </td><td><input asp-for="Laboratory"/></td>
            </tr>
            <tr>
                <td class="text-content">Дата : </td><td><input type="date" asp-for="ResearchDate"/></td>
            </tr>
        </tbody>
    </table>
    <div id="indicatorSearchList"></div>
</form>
<br />

<form asp-controller="Research" asp-action="FindIndicator" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#indicatorSearchList">
    <div id="findIndicator">
        <label class="label-header">Найти показатель :</label>
        <input type="text" name="inputIndicator"/>
        <input type="submit" value="Найти"/><br />
    </div><br />
    
</form>


